<a href="https://colab.research.google.com/github/Doumgit/D602-Advance-Programming-Techniques/blob/main/SDoumbia___QOTW_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1 Create a list called animals that contain the following: cat, dog, manta ray, horse, crouching tiger

In [2]:
animal_list = ['cat','dog', 'manta ray', 'horse', 'crouching tiger']
animal_list

['cat', 'dog', 'manta ray', 'horse', 'crouching tiger']

## 2. Repeat question 1 and loop through and print each item in the animal list by iterating through an index number and using range(). Set a variable len_animals to the length of the animal list.

In [5]:
len_animals = len(animal_list)

for i in range(0,len_animals):
  print(animal_list[i])

cat
dog
manta ray
horse
crouching tiger

## 3. Programmatically reorganize the countdown list below in descending order and return the value of the 5th element in the sorted countdown list.

    - The 5th element will be stored in the variable the_fifth_element, which currently below has a dummy value of -999.
    - Remember, the index number of the 5th element is not 5

In [20]:
countdown = [9, 8, 7, 5, 4, 2, 1, 6, 10, 3, 0, -5]

countdown.sort(reverse=True)

the_fifth_element = countdown[4]

the_fifth_element

6

## 4. Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Expected output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [40]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#Expected output:
#[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

list1[2][2].insert(2,7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## 5. Write a program to remove all occurrences of item 20 in the following list.

list2 = [5, 20, 30, 15, 20, 30, 20]

In [63]:
list2 = [5, 20, 30, 15, 20, 30, 20]

while 20 in list2:
    list2.remove(20)
print(list2)

[5, 30, 15, 30]

## 6. Using the following dictionary .. (Use python to solve for the answer.)

dict = {"Course": "DATA 606", "Program": "MSDS", "School": "CUNYSPS"}

a. What is the name of the course?

b. Change the course to DATA602

c. Add new information to the dictionary - "Professor" with "Schettini"

d. Using the len function, find how many keys there are in the dictionary.

In [67]:
dict = {"Course": "DATA 606", "Program": "MSDS", "School": "CUNYSPS"}

# a. What is the name of the course?
print(dict['Course'])

# b. Change the course to DATA602
dict['Course'] = 'DATA602'

# c. Add new information to the dictionary - "Professor" with "Schettini"
dict['Professor'] = 'Schettini'

# d. Using the len function, find how many keys there are in the dictionary.
print(dict)
print(len(dict))

DATA 606
{'Course': 'DATA602', 'Program': 'MSDS', 'School': 'CUNYSPS', 'Professor': 'Schettini'}
4

## 7.  Write a Python program to change Bradâ€™s salary to 7500 in the following dictionary.

sample_dict = {
    'emp1': {'name': 'Amanda', 'salary': 8200},
    'emp2': {'name': 'John', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 700}
}

In [71]:
sample_dict = {
    'emp1': {'name': 'Amanda', 'salary': 8200},
    'emp2': {'name': 'John', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 700}
}

sample_dict['emp3']['salary'] = 7500

print(sample_dict)

{'emp1': {'name': 'Amanda', 'salary': 8200}, 'emp2': {'name': 'John', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 7500}}

In [75]:
# 1.
animal_list = ['cat','dog', 'manta ray', 'horse', 'crouching tiger']
print(animal_list)

# 2.
len_animals = len(animal_list)

for i in range(0,len_animals):
  print(animal_list[i])


# 3.
countdown = [9, 8, 7, 5, 4, 2, 1, 6, 10, 3, 0, -5]

countdown.sort(reverse=True)

the_fifth_element = countdown[4]

print(the_fifth_element)


#. 4
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#Expected output:
#[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

list1[2][2].insert(2,7000)
print(list1)


# 5.
list2 = [5, 20, 30, 15, 20, 30, 20]

while 20 in list2:
    list2.remove(20)
print(list2)


# 6.
dict = {"Course": "DATA 606", "Program": "MSDS", "School": "CUNYSPS"}

# a. What is the name of the course?
print(dict['Course'])

# b. Change the course to DATA602
dict['Course'] = 'DATA602'

# c. Add new information to the dictionary - "Professor" with "Schettini"
dict['Professor'] = 'Schettini'

# d. Using the len function, find how many keys there are in the dictionary.
print(dict)
print(len(dict))


# 7.
sample_dict = {
    'emp1': {'name': 'Amanda', 'salary': 8200},
    'emp2': {'name': 'John', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 700}
}

sample_dict['emp3']['salary'] = 7500

print(sample_dict)

['cat', 'dog', 'manta ray', 'horse', 'crouching tiger']
cat
dog
manta ray
horse
crouching tiger
6
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
[5, 30, 15, 30]
DATA 606
{'Course': 'DATA602', 'Program': 'MSDS', 'School': 'CUNYSPS', 'Professor': 'Schettini'}
4
{'emp1': {'name': 'Amanda', 'salary': 8200}, 'emp2': {'name': 'John', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 7500}}

In [76]:
# 1.
animal_list = ['cat','dog', 'manta ray', 'horse', 'crouching tiger']
print(animal_list)

# 2.
len_animals = len(animal_list)

for i in range(0,len_animals):
  print(animal_list[i])


# 3.
countdown = [9, 8, 7, 5, 4, 2, 1, 6, 10, 3, 0, -5]

countdown.sort(reverse=True)

the_fifth_element = countdown[4]

print(the_fifth_element)


#. 4
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#Expected output:
#[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

list1[2][2].insert(2,7000)
print(list1)


# 5.
list2 = [5, 20, 30, 15, 20, 30, 20]

while 20 in list2:
    list2.remove(20)
print(list2)


# 6.
dict = {"Course": "DATA 606", "Program": "MSDS", "School": "CUNYSPS"}

# a. What is the name of the course?
print(dict['Course'])

# b. Change the course to DATA602
dict['Course'] = 'DATA602'

# c. Add new information to the dictionary - "Professor" with "Schettini"
dict['Professor'] = 'Schettini'

# d. Using the len function, find how many keys there are in the dictionary.
print(dict)
print(len(dict))


# 7.
sample_dict = {
    'emp1': {'name': 'Amanda', 'salary': 8200},
    'emp2': {'name': 'John', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 700}
}

sample_dict['emp3']['salary'] = 7500

print(sample_dict)

['cat', 'dog', 'manta ray', 'horse', 'crouching tiger']
cat
dog
manta ray
horse
crouching tiger
6
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
[5, 30, 15, 30]
DATA 606
{'Course': 'DATA602', 'Program': 'MSDS', 'School': 'CUNYSPS', 'Professor': 'Schettini'}
4
{'emp1': {'name': 'Amanda', 'salary': 8200}, 'emp2': {'name': 'John', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 7500}}