<a href="https://colab.research.google.com/github/Doumgit/D602-Advance-Programming-Techniques/blob/main/SDoumbia_QOTW_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. How would you delete:
- An index from your dataframe
- A column from your dataframe
- A row from your dataframe

In [39]:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
}, index=['first', 'second', 'third', 'fourth'])


# Deleting an Index
# Dropping a row by index label
df_dropped = df.drop('second')
print("DataFrame after dropping a row by index:")
print(df_dropped)


# Deleting an Column
# Dropping a column using drop()
df_dropped_column = df.drop('B', axis=1)
print("DataFrame after dropping column 'B':")
print(df_dropped_column)


# Deleting a Row
# Dropping a row by index number
df_dropped_row = df.drop(df.index[1])
print("DataFrame after dropping the second row:")
print(df_dropped_row)

DataFrame after dropping a row by index:
        A  B
first   1  5
third   3  7
fourth  4  8
DataFrame after dropping column 'B':
        A
first   1
second  2
third   3
fourth  4
DataFrame after dropping the second row:
        A  B
first   1  5
third   3  7
fourth  4  8

## 2. How do you iterate over a pandas dataframe?

In [17]:
# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

# Applying a function across each row
df['Description'] = df.apply(lambda row: f"{row['Name']} is {row['Age']} years old", axis=1)
print(df)

# Applying a function across each column
mean_values = df.apply(lambda col: col.mean() if col.dtype == 'float' else None, axis=0)
print(mean_values)

      Name  Age              Description
0    Alice   25    Alice is 25 years old
1      Bob   30      Bob is 30 years old
2  Charlie   35  Charlie is 35 years old
Name           None
Age            None
Description    None
dtype: object

## 3. How would you convert a string to a date?

In [22]:
# An example of date string in a Series
date_series = pd.Series(["2024-04-30", "2024-05-01"])

# Converting string to datetime
date_series_converted = pd.to_datetime(date_series, format="%Y-%m-%d")

print(date_series_converted)

0   2024-04-30
1   2024-05-01
dtype: datetime64[ns]

## 4. What is data aggregation?  Give an example in Python.

**Definition of Data Aggregation:**
Data aggregation is a process in data analysis where values from multiple data sources or records are grouped together to derive a single summarization or statistic about the data.

In [31]:
# Creating a sample DataFrame
data = {
    'Product': ['Apples', 'Bananas', 'Apples', 'Oranges', 'Bananas', 'Apples'],
    'Store': ['Store A', 'Store B', 'Store C', 'Store A', 'Store C', 'Store B'],
    'Sales': [100, 200, 150, 120, 180, 90]
}

store_data = pd.DataFrame(data)

print("Original DataFrame:")
print(store_data)

# Aggregating sales by product
aggregated_data = store_data.groupby('Product').agg({'Sales': 'sum'})

print("\nAggregated Sales Data by Product:")
print(aggregated_data)

Original DataFrame:
   Product    Store  Sales
0   Apples  Store A    100
1  Bananas  Store B    200
2   Apples  Store C    150
3  Oranges  Store A    120
4  Bananas  Store C    180
5   Apples  Store B     90

Aggregated Sales Data by Product:
         Sales
Product
Apples     340
Bananas    380
Oranges    120

## 5. What is GroupBy in Pandas (groupby()). Give an example in Python.

**GroupBy Definition:** In Pandas, groupby() is a powerful method used to split the data into groups based on some criteria. Pythonâ€™s Pandas groupby() allows you to group together rows based off of a column and perform an aggregation function on them. It consists of:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

In [38]:
# Example usisng store_data that I created above

# Grouping by the "Store" column and sum up sales within each store
total_sales_per_store = store_data.groupby('Store')['Sales'].sum()

# Grouping by the "Product" column and calculate average sales per product
average_sales_per_product = store_data.groupby('Product')['Sales'].mean()

print("Total Sales Per Store:")
print(total_sales_per_store)
print("\nAverage Sales Per Product:")
print(average_sales_per_product)

Total Sales Per Store:
Store
Store A    220
Store B    290
Store C    330
Name: Sales, dtype: int64

Average Sales Per Product:
Product
Apples     113.333333
Bananas    190.000000
Oranges    120.000000
Name: Sales, dtype: float64