<a href="https://colab.research.google.com/github/Doumgit/D602-Advance-Programming-Techniques/blob/main/SDoumbia_QOTW_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.  What is pandas and why use it?

Pandas is a powerful and flexible Python library primarily used for data manipulation and analysis. Built on top of the NumPy library, it provides data structures and operations for manipulating numerical tables and time series. We might choose to use pandas for these reasons:

- **Data Manipulation** which simplifies complex operations with data.
- **Handling Missing Data** because it offers tools to detect, remove, or fill missing data.
- **Powerful Data Analysis Tools** such as aggregation and pivoting features to summarize datasets
- **Read and Write Data** since it supports a wide array of formats, enhancing data interoperability.
- Pandas is **integrated with many Other Libraries** (Matplotlib and Seaborn for example)

## 2. Give an example of how to import a csv file using pandas

In [ ]:
import pandas as pd

csv_file = "data.csv"

df = pd.read_csv(csv_file)

## 3. Show how to view the first 10 rows of a dataset using pandas

In [ ]:
print(data.head(10))

## 4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [7]:
import pandas as pd

# Creating two Pandas Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

# Greater than comparison
greater_than = series1 > series2
print("\nElements of Series1 greater than Series2:")
print(greater_than)

Elements of Series1 greater than Series2:
0     True
1     True
2     True
3     True
4    False
dtype: bool

## 5. Change the first character of each word to upper case in each word of df1
df1 = pd.Series(['hello', 'to', 'cuny', 'class?'])

In [19]:
df1 = pd.Series(['hello', 'to', 'cuny', 'class?'])
df1 = df1.str.capitalize()
df1

0     Hello
1        To
2      Cuny
3    Class?
dtype: object